<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bigraphBaseModel -->
      <package
            uri="http://org.bigraphs.model"
            class="org.bigraphs.model.bigraphBaseModel.BigraphBaseModelPackage"
            genModel="model/bigraphBaseModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated signatureBaseModel -->
      <package
            uri="http://org.bigraphs.model"
            class="org.bigraphs.model.signatureBaseModel.SignatureBaseModelPackage"
            genModel="model/signatureBaseModel.genmodel"/>
   </extension>

</plugin>
